/* @media (max-width: 1440px) {} */
/* @media (max-width: 1366px) {} */
/* @media (max-width: 1280px) {} */
 

 
@media (max-width: 1200px) {
  .header__nav{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }

    .home__card{
        display: none;
    }

    .footer{
        width: 100%;
    }
}
@media (max-width: 1080px) {
    .footer{
        width: 100%;
    }
}
@media (max-width: 1024px) {}
@media (max-width: 992px) {}
@media (max-width: 800px) {
    .footer__menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) {}
@media (max-width: 684px) {}
@media (max-width: 576px) {}
